/* ============= Side bar ================= */
.sidebar {
    @apply border-r  sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700;
}


.sidebar .sidebar-item {
    @apply flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700;
}


/* ============= End Side bar ================= */

/* ============= Navbar ================= */

.navbar {
    @apply fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700;
}

.navbar .header {
    @apply flex items-center justify-between;
}

.navbar-item {
    @apply flex items-center ;
}

/* ============= End Navbar ================= */


/* ============= breadcumb ================= */

.breadcumb {
    @apply inline-flex items-center space-x-1 text-sm font-medium md:space-x-2;
}


.breadcumb-title {
    @apply text-xl font-semibold text-gray-900 sm:text-3xl dark:text-white;
}

/* ============= End breadcumb ================= */

