/* =============== wrapper table =============== */
.dataTables_wrapper {
    @apply relative overflow-x-auto p-2;
    clear: both;
}

.dataTables_wrapper>.dataTables_processing {
    @apply absolute inset-0 rounded-lg bg-black/10 text-lg text-center pt-[1.25rem];
}

/* =============== wrapper table =============== */









/* =============== header table =============== */
.dataTables_wrapper>.dataTables_length,
.dataTables_wrapper>.dataTables_filter {
    @apply flex justify-end ;
}

@media (min-width: 640px) {
    .dataTables_wrapper>.dataTables_length {
        @apply float-left;
    }

    .dataTables_wrapper>.dataTables_filter {
        @apply float-right;
    }
}

.dataTables_wrapper>.dataTables_length select,
.dataTables_wrapper>.dataTables_filter input {
    @apply border rounded-lg h-[2.25rem] pr-6 m-1;
}

.dataTables_wrapper>.dataTables_filter input {
    @apply inline-block ml-2;
}

/* =============== end header table =============== */









/* =============== content table =============== */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
}


table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: 0.3;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    right: 1em;
    content: "\2191";
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    right: 0.5em;
    content: "\2193";
}

table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:after {
    opacity: 1;
}

/* =============== end content table =============== */









/* =============== footer table =============== */
.dataTables_wrapper>.dataTables_info {
    @apply float-left pt-4;
}

.dataTables_wrapper>.dataTables_paginate {
    @apply float-right pt-2 flex justify-end;
}

.dataTables_wrapper>.dataTables_paginate>.paginate_button.active a{
    @apply bg-black text-yellow-200
}

.dataTables_wrapper>.dataTables_paginate>*:first-child {
    @apply rounded-l-lg;
}

.dataTables_wrapper>.dataTables_paginate>*:last-child {
    @apply rounded-r-lg;
}

.dataTables_wrapper>.dataTables_paginate .paginate_button {
    @apply border border-gray-300 inline-block px-4 py-2 ml-[-1px];
}

.dataTables_wrapper>.dataTables_paginate .paginate_button:not(.current):not(.disabled):hover {
    @apply cursor-pointer bg-gray-200;
    color: var(--primary);
}

.dataTables_wrapper>.dataTables_paginate .paginate_button.current {
    background-color: var(--primary);
    color: var(--contras-primary);
}

.dataTables_wrapper>.dataTables_paginate .paginate_button.disabled {
    @apply text-gray-400;
}

/* =============== end footer table =============== */